<!DOCTYPE HTML>

<html>
	
<head>
<title>Tutorial Comparing Electron Microscopy</title> 
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="../assets/css/main.css" />
<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1J6V1SM060"></script>
<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-1J6V1SM060');</script>
</head>

<body class="is-preload">

<div id="wrapper">

<div id="main">

<div class="inner">

<h4><a href="../index.html">Home</a></h4>
<h1>Tutorial: Comparing with Electron Microscopy</h1>
<p>Tutorial contributors: Kristian Lytje</p>
<p>
	<img src="SASDJG5_loglog.png" style="width:800px"/>
</p>
<h4>Before you start</h4>
<ul>
	<li>Requirements: <br>
		(1) The <a href="https://github.com/AUSAXS/AUSAXS" target="_blank">AUSAXS</a> software (free, no installation).<br>
		(2) Python (including numpy, scipy, and matplotlib) to visualize the results.<br>
	</li>
	<li>Expectations: <br>
		In this tutorial, we will compare small-angle X-ray scattering data with electron microscopy data.<br>
		These are very different techniques, with the former probing the electron density of the sample, and the latter probing the charge density.<br>
		We are therefore not expecting perfect quantitative agreement, but will rather focus on comparing them qualitatively.<br>
	</li>
</ul>
<h4>Learning outcomes</h4>
In this tutorial you will learn how to use the EM validation program of the AUSAXS software to compare SAXS data with electron microscopy data.
<ul>
	<li>Be familiar with the AUSAXS software. </li>
	<li>Be able to validate an electron microscopy map.</li>
	<li>Be able to use the advanced options of the program.</li>
</ul>
<h4>Introductory remarks</h4>
	<p>
		This tutorial will only showcase how to <i>use</i> the method, and will not go into the details of the theory behind it.<br>
		For more information on the theory, see the accompanying article at <a href="https://doi.org/10.1107/S2059798324005497" target="_blank">https://doi.org/10.1107/S2059798324005497</a>.
	</p>

<h4>Part I: Making AUSAXS run on your computer</h4>
	AUSAXS ships with two versions: one with a simple, graphical interface, and another with a more advanced command-line interface.<br>
	Both versions can be used for the first part of this tutorial, but the advanced version is required for the second part.
	<ul> To use AUSAXS:
		<li>Download the newest release from <a href="https://github.com/AUSAXS/AUSAXS/releases" target="_blank">https://github.com/AUSAXS/AUSAXS/releases</a></li>
		<li>Since Microsoft & Apple both require yearly fees to sign a program, an additional platform-dependent step must be performed to make it runnable on these systems:
			<ul>
				<li><i>Windows</i>: Your SmartScreen filter may warn you about running unsigned software. You can simply ignore this warning and run it anyway.</li>
				<li><i>Mac</i>: Downloaded unsigned programs </li>
			</ul>
		</li>
	</ul>

<h4>Part II: Performing a basic validation</h4>
	Now we are ready to perform our first validation. Download the files:
	<ul>
		<li>The <a href="https://www.sasbdb.org/media/intensities_files/SASDJG5.dat" target="_blank">SAXS measurement,</a></li>
		<li>The <a href="https://ftp.ebi.ac.uk/pub/databases/emdb/structures/EMD-24889/map/emd_24889.map.gz" target="_blank">EM map file,</a></li>
		<li>And, optionally, the <a href="https://www.sasbdb.org/media/pdb_file/SASDJG5_fit1_model1.pdb" target="_blank">PDB structure file.</a> </li>
		Remember to unpack the zipped map before continuing. 
	</ul>

	You can perform the validation using either the graphical or the command-line interface.
	<ul>
		<li>Graphical interface: <br>
			If you have moved the program from the downloaded folder, make sure to also move the plotting script to the same destination.<br>
			Open the AUSAXS program <code>em_fitter_gui</code> and load the EM map and the SAXS data. <br>
			For this run only, set the "sample frequency" to 3 (and make sure to hit "enter"!). Then click the "start" button.</li>
		<li>Command-line interface: <br> 
			Move all files to the same directory, and launch a terminal from there. <br>
			Then run the command: <code>em_fitter emd_24889.map SASDJG5.dat --frequency 3</code></li>
			<ul> When the program is done, run the following plotting command:
				<li><i>Windows</i>: <code>plotter.exe</code></li>
				<li><i>Mac or Linux</i>: <code>python scripts/plot.py</code></li>
			</ul>
		</li>

<h4>Part III: Insert images (and make it square if used as main illustration)</h4>
	<p>
		Images can be inserted in the tutorial <br>
		<img src="Template.png" style="width:200px"><br> 
		<code>&lt;img src="Template.png" style="width:150px"&gt;</code><br>
		Images make the tutorials visually appealing and help explain key concepts and results.<br>
		If you have a picture that you want to user as cover illustration for you tutorial (to appear at <a href="sastutorial.org"  target="_blank">sastutorial.org</a> front page), it should be square format. 
		If it is not, you can, e.g., insert it in a <a href="Template.pptx" target="_blank">power point</a>, and adjust the size (Design -> Slide size), and export it as an image<br>
		<img src="square_format.png" style="width:500px"><br> 
		Try to <a href="Template.html" target="_blank">download this tutorial</a> (right-click > save file as), and change the cover photo (adjust dimensions of the new cover photo if necessary)<br>
	</p>

<h4>Part IV: Higlight with a box</h4>
    <p>
	If you have something to highlight (a concept, a check list, a step-by-step guide), it can be highlighted. E.g. this list <br>
	<code>
	&lt;ol style="border-width:3px; border-style:solid;border-color:#697698; padding: 1em; padding-left: 40px; background-color: #f9f9f9"&gt; <br>
	&lt;b&gt;How to design a new tutorial:&lt;/b&gt;<br>
	&lt;li&gt;...&lt;\li&gt;<br>
	&lt;ol&gt;
	</code>
	<ol style="border-width:3px; border-style:solid;border-color:#697698; padding: 1em; padding-left: 40px; background-color: #f9f9f9"> 
		<b>How to design a new tutorial:</b>
		<li>Identify a subject that should be covered with a tutorial.</li>
		<li>Consider overall and specific learning outcomes.</li>
		<li>Design 1-3 challenges that can be solved after requiring the skills of the tutorials. Preferably including analysis of real SAXS or SANS data.</li>
		<li>Copy the <a href="https://github.com/andreashlarsen/SAStutorials" target="_blank">SASTutorial GitHub page</a> to your computer.</li>
		<li>Copy the template folder and rename it.</li>
		<li>To edit the html files, you must open them in a text editor, if you open them in a browser, you see the final result.</li>
		<li>Make 2-4 parts in the tutorial with walk-through and explained analysis, providing files so the user can do the analysis themself. Explain rule-of-thumbs and pitfalls, og technical challenges. Use images for illustarations, e.g. screenshots from a software package that is demonstrated.</li>
		<li>Find a representative image for the tutorial, make it square format and put in the folder.</li>
		<li>Add your tutorial to the index file (copy one of the other entries and edit).</li>
		<li>Check that everything is working. This can be done locally, in a browser.</li>
		<li>Upload your new tutorial and the edited index file to the GitHub page (this will be checked by developers before being merged and thus be part of the sastutorials.org website).</li>
	</ol>
    </p>

<h4>Challenges</h4>
	The challenges are open tasks that can be solved using the parts above. E.g.:
	<ul>
		<li>Challenge 1: Download this tutorial and add a new part (Part 5) to the tutorial. To see the result, open in a browser, and to edit files, open in a text editor.</li>
		<li>Challenge 2: Add a tutorial to SAStutorials.org, on any aspect of SAXS/SANS analysis that is not yet covered.</li>
	</ul>

<!--
DO NOT CHANGE ANYTHING BELOW
-->

<h4>Feedback</h4>
	Help us improve the tutorials by 
	<ul>
		<li>Reporting issues and bugs via our <a href="https://github.com/andreashlarsen/SAStutorials/issues" target="_blank" >GitHub page</a>. This could be typos, dead links etc., but also insufficient information or unclear instructions.</li>
		<li>Suggesting new tutorials/additions/improvements in the <a href="https://github.com/andreashlarsen/SAStutorials/discussions" target="_blank" >SAStutorials forum</a>.</li>
		<li>Posting or answering questions in the <a href="https://github.com/andreashlarsen/SAStutorials/discussions" target="_blank" >SAStutorials forum</a>.</li>
	</ul>
<br>
	
<h4><a href="../index.html">Home</a></h4>

<!-- end inner -->
</div>
	
<!-- end main -->
</div>

<!-- end wrapper -->
</div>
	
<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/browser.min.js"></script>
<script src="../assets/js/breakpoints.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>
<script>MathJax = {tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}};</script> 
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

</body>	
</html>
